<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carapihelloworld">

    <!--
    Car service permissions in AOSP project tree:
    packages/services/Car/service/AndroidManifest.xml
    -->

    <!-- 
    android:protectionLevel="normal"
    Is granted at install time if requested in the manifest(here).
    -->
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN"/>

    <!-- 
    android:protectionLevel="dangerous"
    Should be additionally requested in runtime by android.app.Activity.requestPermissions()
    -->
    <uses-permission android:name="android.car.permission.CAR_SPEED" />
    <uses-permission android:name="android.car.permission.CAR_ENERGY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
